In [1]:
from pyspark.sql import SparkSession
import getpass 
username = getpass.getuser()
spark = SparkSession. \
     builder. \
     config('spark.ui.port', '0'). \
     config("spark.sql.warehouse.dir", f"/user/itv009198/warehouse"). \
     config('spark.shuffle.useOldFetchProtocol', 'true'). \
     enableHiveSupport(). \
     master('yarn'). \
     getOrCreate()

In [2]:
spark.sql("select member_id, count(*) as total from itv009198_lending_club.customers group by member_id order by total desc")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    5|
|76b577467eda5bdbc...|    4|
|3f87585a20f702838...|    4|
|ad8e5d384dae17e06...|    4|
|f54295a60946dedad...|    3|
|53789bea7edc660ed...|    3|
|d9ce4046daf599732...|    3|
|059d401bb603d9a80...|    3|
|819453be77718d747...|    3|
|5d52e7773cb0efff3...|    3|
|035bf3d8288d803bd...|    3|
|22593a1870543b2db...|    3|
|c92062bb371842b3d...|    3|
|e7d8d16928817ec8f...|    3|
|291ca1b09ef11ca3e...|    3|
|a2356725aa9da92c6...|    3|
|4ab6205de571ccb7b...|    3|
|d3731bad3e6a82515...|    3|
|c563428cb58da48ff...|    3|
|066ddaa64bee66dff...|    3|
+--------------------+-----+
only showing top 20 rows

In [3]:
spark.sql("""select * from itv009198_lending_club.customers where member_id like 'e4c167053d5418230%'""")

+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+
|           member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|ingest_data|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               138780.0|      Individual|              null|                     null|       null|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               171165.0|      Individual|              null|                     null|       null|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               110907.0|      Individual|              null|                     null|       null|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               129833.0|      Individual|              null|                     null|       null|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               207300.0|      Individual|              null|                     null|       null|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+

In [4]:
spark.sql("select member_id, count(*) as total from itv009198_lending_club.loans_defaulters_delinq group by member_id order by total desc")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    3|
|ac9a3da3b89f9228e...|    2|
|17d76ba5141e1c33a...|    2|
|20ffcd8c1f8f988dd...|    2|
|77db5fdf951dd04b2...|    2|
|cbede54df344cdb94...|    2|
|c23eb88fed4893030...|    2|
|50483e24eadd7a278...|    2|
|6918b9861ba5a4c67...|    2|
|b5ded5638e54e1692...|    2|
|0b44a10bc749eabb2...|    2|
|4f7579700cd9d49d7...|    2|
|dbe5ec23d01598dbf...|    2|
|db887c1d4cb004ca8...|    2|
|343344c3c65b023af...|    2|
|c16e1f92ae5ccc785...|    2|
|58dde656f747cee8b...|    2|
|8d2c605c7ad9209cc...|    2|
|bbe43331566910d55...|    2|
|a93a44c9d83793451...|    2|
+--------------------+-----+
only showing top 20 rows

In [5]:
spark.sql("""select * from itv009198_lending_club.loans_defaulters_delinq where member_id like 'e4c167053d5418230%'""")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          3|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                    45|
+--------------------+-----------+-----------+----------------------+

In [6]:
spark.sql("select member_id, count(*) as total from itv009198_lending_club.loans_defaulters_detail_records_enq group by member_id order by total desc")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|aa98d20213e804ed2...|    1|
|db3c57530fda7a112...|    1|
|3cc251fd142446966...|    1|
|401229060beb72613...|    1|
|977b5789d2588fe27...|    1|
|b6d5dd2a15078085e...|    1|
|8e2d55988d0c794e6...|    1|
|62a6db5a28b608ffb...|    1|
|78f12e5168cda9697...|    1|
|9b77b849fc7b13ac8...|    1|
|7cbda41ac77c25ec5...|    1|
|1941798c4d15384d5...|    1|
|f34a7679c62ff4116...|    1|
|e43ba206dffd82fec...|    1|
|c7655d4d4e81ff975...|    1|
|83bacdd7ff509e4da...|    1|
|66ecb2b77886ba3be...|    1|
|37b832fa6fd7ee59b...|    1|
|4ffe96425d8c9799e...|    1|
|3b27dbeeb85629128...|    1|
+--------------------+-----+
only showing top 20 rows

In [7]:
spark.sql("USE itv009198_lending_club")

++
||
++
++

In [8]:
spark.sql("SHOW TABLES IN itv009198_lending_club").show(truncate=False)

+----------------------+-----------------------------------+-----------+
|database              |tableName                          |isTemporary|
+----------------------+-----------------------------------+-----------+
|itv009198_lending_club|customers                          |false      |
|itv009198_lending_club|customers_loan_t                   |false      |
|itv009198_lending_club|customers_loan_v                   |false      |
|itv009198_lending_club|customers_new                      |false      |
|itv009198_lending_club|loans                              |false      |
|itv009198_lending_club|loans_defaulters_delinq            |false      |
|itv009198_lending_club|loans_defaulters_detail_records_enq|false      |
|itv009198_lending_club|loans_repayments                   |false      |
+----------------------+-----------------------------------+-----------+

In [9]:
bad_data_customers_df = spark.sql(""" select member_id from (select member_id, count(*)
as total from itv009198_lending_club.customers
group by member_id having total > 1)""")

In [10]:
bad_data_customers_df.count()

3157

In [11]:
bad_data_customers_df

+--------------------+
|           member_id|
+--------------------+
|4231a55d0199c619a...|
|3b8ffe19f24749a73...|
|d4782ddad8591f44d...|
|01b2223757c3b62e7...|
|f284044b881f218c0...|
|a2af7506825a7dcff...|
|a53e2f488d2d76a30...|
|cd1fdca829c443fa7...|
|675151e58a628e87b...|
|fc0e468bff11ac7c3...|
|cbede54df344cdb94...|
|761b2f1e61999e14e...|
|2bae2e4dd6d5f2b21...|
|eebbd89aa7efc13e7...|
|5130d0087970e032e...|
|61be6498c93cadf89...|
|f99c6e9cfe3a7a2d2...|
|7115ace193e13d8f3...|
|46cb438a0bd1b7194...|
|e61af5f79c2480a8b...|
+--------------------+
only showing top 20 rows

In [12]:
bad_data_loans_defaulters_delinq_df = spark.sql("""select member_id from (select member_id, count(*)
as total from itv009198_lending_club.loans_defaulters_delinq
group by member_id having total > 1)""")

In [13]:
bad_data_loans_defaulters_delinq_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|8d2c605c7ad9209cc...|
|bbe43331566910d55...|
|6918b9861ba5a4c67...|
|a93a44c9d83793451...|
|b5ded5638e54e1692...|
|6c2b63ff231e520d4...|
|694c6cb86608015e9...|
|58dde656f747cee8b...|
|77db5fdf951dd04b2...|
|62394e3f9d063413b...|
|0b44a10bc749eabb2...|
|4f7579700cd9d49d7...|
|17d76ba5141e1c33a...|
|dbe5ec23d01598dbf...|
|343344c3c65b023af...|
|c16e1f92ae5ccc785...|
|db887c1d4cb004ca8...|
|c23eb88fed4893030...|
|ac9a3da3b89f9228e...|
+--------------------+
only showing top 20 rows

In [14]:
bad_data_loans_defaulters_detail_records_enq_df = spark.sql("""select member_id from (select member_id, count(*)
as total from itv009198_lending_club.loans_defaulters_detail_records_enq
group by member_id having total > 1)""")

In [16]:
bad_data_loans_defaulters_detail_records_enq_df

+---------+
|member_id|
+---------+
+---------+

In [17]:
bad_data_customers_df.repartition(1).write \
    .format("csv") \
    .option("header", True) \
    .mode("overwrite") \
    .option("path","public/trendytech/lendingclubproject/bad/bad_data_customers") \
    .save()

In [18]:
bad_data_loans_defaulters_delinq_df.repartition(1).write \
    .format("csv") \
    .option("header", True) \
    .mode("overwrite") \
    .option("path","public/trendytech/lendingclubproject/bad/bad_data_loans_defaulters_delinq") \
    .save()

In [19]:
bad_data_loans_defaulters_detail_records_enq_df.repartition(1).write \
    .format("csv") \
    .option("header", True) \
    .mode("overwrite") \
    .option("path","public/trendytech/lendingclubproject/bad/bad_data_loans_defaulters_detail_records_enq_new") \
    .save()

In [20]:
bad_customers_data_df = bad_data_customers_df.select("member_id") \
.union(bad_data_loans_defaulters_delinq_df.select("member_id")) \
.union(bad_data_loans_defaulters_detail_records_enq_df.select("member_id")) \

In [21]:
bad_customers_data_final_df = bad_customers_data_df.distinct()

In [22]:
bad_customers_data_final_df

+--------------------+
|           member_id|
+--------------------+
|01b2223757c3b62e7...|
|a2af7506825a7dcff...|
|675151e58a628e87b...|
|a53e2f488d2d76a30...|
|fc0e468bff11ac7c3...|
|cbede54df344cdb94...|
|761b2f1e61999e14e...|
|2bae2e4dd6d5f2b21...|
|61be6498c93cadf89...|
|cd1fdca829c443fa7...|
|7115ace193e13d8f3...|
|eebbd89aa7efc13e7...|
|4231a55d0199c619a...|
|f284044b881f218c0...|
|3b8ffe19f24749a73...|
|d4782ddad8591f44d...|
|f99c6e9cfe3a7a2d2...|
|5130d0087970e032e...|
|46cb438a0bd1b7194...|
|e61af5f79c2480a8b...|
+--------------------+
only showing top 20 rows

In [23]:
bad_customers_data_final_df.count()

3160

In [24]:
bad_customers_data_final_df.repartition(1).write \
    .format("csv") \
    .option("header", True) \
    .mode("overwrite") \
    .option("path","public/trendytech/lendingclubproject/bad/bad_customers_data_final") \
    .save()

In [25]:
bad_customers_data_final_df.createOrReplaceTempView("bad_data_customers")

In [26]:
bad_customers_data_final_df

DataFrame[member_id: string]

In [27]:
customers_df =spark.sql(""" select * from itv009198_lending_club.customers where member_id NOT IN (select member_id from bad_data_customers)""")

In [28]:
customers_df

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|ingest_data|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+
|de8d40bb549f3e676...|      Slot Club Lead|        10|          RENT|      42000.0|           CO|          800xx|            USA|    A|       A5|    Source Verified|                19200.0|      Individual|              null|                     null|       null|
|cb2bfe6ba8d8040ea...| Development Manager|         1|      MORTGAGE|     120000.0|           NJ|          080xx|            USA|    B|       B2|           Verified|               521247.0|      Individual|              null|                     null|       null|
|fd6cd0f257e376951...|          Chef/Baker|         5|          RENT|      25000.0|           GA|          310xx|            USA|    E|       E2|    Source Verified|                18200.0|      Individual|              null|                     null|       null|
|46a7d1486ffcd4024...|     Service Manager|         3|      MORTGAGE|     122000.0|           NY|          113xx|            USA|    C|       C3|           Verified|               232468.0|      Individual|              null|                     null|       null|
|ec70891c26a58aad8...| Maintenance Manager|         1|          RENT|      35000.0|           CO|          804xx|            USA|    C|       C1|           Verified|                16200.0|      Individual|              null|                     null|       null|
|8b5e4553da13c2336...|              Driver|        10|          RENT|      65000.0|           NY|          112xx|            USA|    C|       C2|           Verified|                15200.0|      Individual|              null|                     null|       null|
|ea940e76460ba9551...|           Carpenter|         2|      MORTGAGE|      72000.0|           IL|          622xx|            USA|    B|       B3|    Source Verified|                75875.0|      Individual|              null|                     null|       null|
|1bff1ca3a1f99b4d7...|               Owner|         3|          RENT|     103000.0|           NC|          282xx|            USA|    D|       D2|    Source Verified|                18700.0|      Individual|              null|                     null|       null|
|78caf872bd06843ef...|       Rural Carrier|        10|           OWN|      70000.0|           CA|          932xx|            USA|    B|       B4|    Source Verified|                71235.0|      Individual|              null|                     null|       null|
|8c0e5cf855a938944...|            NotAsked|        10|          RENT|      87600.0|           CO|          802xx|            USA|    B|       B2|    Source Verified|                84826.0|      Individual|              null|                     null|       null|
|95e255082fddc76b1...|                null|         6|          RENT|      43500.0|           NC|          277xx|            USA|    C|       C5|    Source Verified|                11500.0|      Individual|              null|                     null|       null|
|d810bbf2aa830e901...|             Manager|         5|      MORTGAGE|      52000.0|           NJ|          080xx|            USA|    F|       F4|    Source Verified|               208107.0|       Joint App|           84000.0|          Source Verified|       null|
|3e6ea68758d5452b0...|          Operations|         3|          RENT|      52000.0|           CA|          900xx|            USA|    B|       B5|       Not Verified|                52930.0|      Individual|              null|                     null|       null|
|420c2ef97194d5a3e...|      Tax Supervisor|         2|           OWN|     140000.0|           NJ|          076xx|            USA|    B|       B2|    Source Verified|               519721.0|      Individual|              null|                     null|       null|
|0705e81348a43ee77...|   Commercial Lender|         1|      MORTGAGE|     100000.0|           NC|          278xx|            USA|    A|       A4|       Not Verified|               286058.0|      Individual|              null|                     null|       null|
|2cfd201844e15facc...| Material Specialist|        10|          RENT|      42016.0|           OR|          970xx|            USA|    C|       C2|    Source Verified|                37362.0|      Individual|              null|                     null|       null|
|b655449b933ef76bd...|               Owner|         5|      MORTGAGE|      91000.0|           FL|          322xx|            USA|    B|       B1|    Source Verified|               300896.0|      Individual|              null|                     null|       null|
|e6a45ffa9540f58f9...|Marketing & Event...|         5|      MORTGAGE|      52000.0|           CA|          923xx|            USA|    B|       B1|       Not Verified|                 6700.0|      Individual|              null|                     null|       null|
|c3d1d95882cad2753...|      Chief of Staff|        10|      MORTGAGE|     131000.0|           TX|          782xx|            USA|    B|       B5|           Verified|               380611.0|      Individual|              null|                     null|       null|
|163baad89b63af52b...|  Gel coat team lead|         7|      MORTGAGE|      60000.0|           TN|          377xx|            USA|    E|       E3|           Verified|               163484.0|      Individual|              null|                     null|       null|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+
only showing top 20 rows

In [29]:
customers_df.write \
    .format("parquet") \
    .mode("overwrite") \
    .option("path","public/trendytech/lendingclubproject/cleaned_new/customers_parquet") \
    .save()

In [30]:
loans_defaulters_delinq_df = spark.sql(""" select * from itv009198_lending_club.loans_defaulters_delinq 
where member_id NOT IN (select member_id from bad_data_customers)""")

In [31]:
loans_defaulters_delinq_df

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|9cb79aa7323e81be1...|          2|        0.0|                     0|
|aac68850fdac09fd0...|          1|        0.0|                     0|
|c89986155a070db2e...|          1|        0.0|                    15|
|4e1c30a5dfe9f1e20...|          0|        0.0|                    34|
|1eef79a0e79b72c7a...|          1|        0.0|                     0|
|ec1953dba2cfb89ad...|          2|        0.0|                     0|
|3712c9da85e54b7b1...|          1|        0.0|                     0|
|030e5c9c411c936c5...|          2|        0.0|                     0|
|252736f8401b6b046...|          2|        0.0|                     0|
|2d73c65a7b7d1a351...|          1|        0.0|                     0|
|4c5cc017a06ad9cee...|          1|        0.0|                     0|
|b2ae51f7010bda712...|          2|        0.0|                     0|
|e3fda103b038638f2...|          1|        0.0|                     0|
|c1553a3186575c87d...|          2|        0.0|                     0|
|e889fe8e41d1fc74a...|          1|        0.0|                     0|
|66f29d01599e4497e...|          1|        0.0|                     0|
|8d52067d7d93c7ba1...|          2|        0.0|                     0|
|aff24625c7c7a2108...|          3|        0.0|                     0|
|60cf7ca69b4fc0b04...|          2|        0.0|                     0|
|5b7cc2ef3ee4be20e...|          1|        0.0|                     0|
+--------------------+-----------+-----------+----------------------+
only showing top 20 rows

In [32]:
loans_defaulters_delinq_df.write \
    .format("parquet") \
    .mode("overwrite") \
    .option("path","public/trendytech/lendingclubproject/cleaned_new/bad_data_loans_defaulters_delinq") \
    .save()

In [34]:
loans_defaulters_detail_rec_enq_df = spark.sql("""select * from itv009198_lending_club.loans_defaulters_detail_records_enq 
where member_id NOT IN (select member_id from bad_data_customers)""")

In [35]:
loans_defaulters_detail_rec_enq_df

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|9cb79aa7323e81be1...|      0|                   0|             0|
|0dd2bbc517e3c8f9e...|      1|                   1|             3|
|458458599d3df3bfc...|      1|                   1|             1|
|05ea141ec28b5c7f7...|      0|                   0|             0|
|aac68850fdac09fd0...|      0|                   0|             0|
|3a423e4589e89f429...|      0|                   0|             0|
|f1efcf7dfbfef21be...|      0|                   0|             1|
|c89986155a070db2e...|      0|                   0|             1|
|118dc629b6e134419...|      0|                   0|             0|
|a86fa4b7493708333...|      0|                   0|             0|
|6e8d94bf446e97025...|      0|                   0|             0|
|3de585156dc6b73f6...|      0|                   0|             0|
|e88945f86a96f8d71...|      0|                   0|             1|
|42f73fd8a01f1c475...|      0|                   0|             0|
|c680bca32456530e6...|      0|                   0|             0|
|3c36e35bcc0379690...|      0|                   0|             0|
|4e1c30a5dfe9f1e20...|      0|                   0|             1|
|1eef79a0e79b72c7a...|      0|                   0|             0|
|89d42771f79636d22...|      0|                   0|             0|
|1dd1d1b51473d4993...|      0|                   0|             0|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

In [36]:
loans_defaulters_detail_rec_enq_df.write \
    .format("parquet") \
    .mode("overwrite") \
    .option("path","public/trendytech/lendingclubproject/cleaned_new/bad_data_loans_defaulters_detail_rec_enq") \
    .save()

In [37]:
spark.sql("DROP TABLE IF EXISTS itv009198_lending_club.customers_new")

++
||
++
++

In [38]:
spark.sql("""CREATE EXTERNAL TABLE itv009198_lending_club.customers_new
(member_id string,emp_title string,emp_length int,home_ownership string,annual_income float,address_state string,
address_zipcode string,address_country string,grade string,sub_grade string,verification_status string,total_high_credit_limit float,
application_type string,join_annual_income float,verification_status_joint string,ingest_data timestamp) stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/customers_parquet'""")

++
||
++
++

In [39]:
spark.sql("DROP TABLE IF EXISTS itv009198_lending_club.loans_defaulters_delinq_new")

++
||
++
++

In [40]:
spark.sql("""
CREATE EXTERNAL TABLE itv009198_lending_club.loans_defaulters_delinq_new(
    member_id STRING,
    delinq_2yrs INTEGER,
    delinq_amnt FLOAT,
    mths_since_last_delinq INTEGER)
STORED AS PARQUET
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/loan_defaulters_delinq_parquet'""")

++
||
++
++

In [41]:
spark.sql("DROP TABLE IF EXISTS itv009198_lending_club.loans_defaulters_detail_records_enq_new")

++
||
++
++

In [42]:
spark.sql("""CREATE EXTERNAL TABLE
itv009198_lending_club.loans_defaulters_detail_records_enq_new(member_id
string, pub_rec integer, pub_rec_bankruptcies integer, 
inq_last_6mths integer)stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/loan_defaulters_detail_rec_enq_parquet'""")

++
||
++
++

In [43]:
spark.sql("select member_id, count(*) as total from itv009198_lending_club.customers_new group by member_id order by total desc")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|6cf5b731a2416f8b8...|    1|
|b9ce5eca76c8f84ae...|    1|
|bd815dc9d57babc8c...|    1|
|491738555976b1fbe...|    1|
|8afdf6e365f339147...|    1|
|d8c7a3ffd60afcdef...|    1|
|cb390e7716d181ddd...|    1|
|15dfa5b4b112da9b7...|    1|
|9f3adb2f65f4bb4ed...|    1|
|f333b2f388bf95333...|    1|
|fd5186656c2140f5d...|    1|
|b5c0783cc23d39bb2...|    1|
|31513348098f90f76...|    1|
|4cc880541e9c39fac...|    1|
|dbb8f50825496f12a...|    1|
|dfbcfe61e914bc9d5...|    1|
|e4d571b7dff91acd7...|    1|
|e4c059a17957133d0...|    1|
|122e93e7a41585d35...|    1|
|6c4933f70374a9cc5...|    1|
+--------------------+-----+
only showing top 20 rows